*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background: url("wp2409705.jpg") center no-repeat;
    min-height: 100vh;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board{
    background: linear-gradient(rgb(204, 236, 204),rgb(223, 223, 166));
    width: 90vmin;
    height: 92vmin;
    margin-right: 30rem;
    border: 2px solid green;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}
#score{
    background-color: rgb(50, 149, 41);
    position: absolute;
    top: 11vh;
    left: 62vw;
    font-size: 3rem;
    padding: 5px;;
}
.head{
    background-color: rgb(37, 17, 209);
    border-radius: 5px;
    
}
.superFood{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius: 50px;
    transform: scale(1.02);
}
.food{
    background-color: rgb(216, 180, 16);
    border: .25vmin solid black;
    border-radius: 50px;
    
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 3px;
}

@media screen and (max-width: 1100px) {
    #score{
        /* background-color: rgb(37, 17, 209); */
        /* display: block; */
        position: relative;
        top: 0px;
        left: 0px;
        margin: auto;
        text-align: center;
        background:none;
        
    }
    .body{
        /* background-image: none; */
        display: flex;
        flex-direction: column-reverse;
        /* background-color:  rgb(50, 149, 41); */
    }
    #board{
        margin: auto;
        /* margin-top: 5rem; */

    }
}